body {
    font-size: 30px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0f0f0f;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card {
    position: absolute;
    width: 240px;
    height: 360px;
    background-color: #5e5cfc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0);
    transition: .5s;
    transform-origin: 50% 100%;
    filter: hue-rotate(calc(var(--i) * 60deg));
    box-shadow: 0 15px 50px rgba(0, 0, 0, .1);
    z-index: 2;
}

.container:hover .card {
    transform: rotate(calc(var(--i) * 5deg)) translate(calc(var(--i) * 120px), -50px);
    box-shadow: 0 15px 50px rgba(0, 0, 0, .25);
    color: rgba(0, 0, 0, .25);
    cursor: pointer;
}

.container .aaa {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    transition: .1s;
}

.container:hover .aaa {
    width: 0;
    height: 0;
    color: rgba(0, 0, 0, 0);
    box-shadow: none;
    z-index: 1;
}

.container:active .card:not(:active) {
    background-color: #333;
}

.container .card:hover {
    translate: calc(var(--i) * 20px) -50px;
    z-index: 999;
}

.card a {
    color: rgba(0, 0, 0, .25);
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 240px;
    height: 360px;
    line-height: 360px;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 95%;
    height: 80px;
    border-radius: 8px;
    box-shadow: 0 15px 50px rgba(150, 150, 150, .25);
    background-color: rgba(100, 100, 100, .2)
}

footer p {
    color: rgba(255, 255, 255, .25);
    line-height: 80px;
}
